

<section class="fine-section padded" id="customers">
    <div class="container">
        <div class="testimony">
            <div class="flex">
                <div class="customer-pic">
                    <div class="circular-image">
                        <img src="https://funerariaherreradepisuerga.es/img/logo.png">
                    </div>
                </div>
                <div class="customer-testimony">
                    <h4 class="h3-title">"Llevamos un tiempo utilizando Esquelas Digital como nuestro servicio de esquelas y no podemos estar más contentos. Ahorramos en precios y están en continua evolución."</h4>
                    <p>Daniel Martinez, <a href="https://funerariaherreradepisuerga.es" target="_blank">Funeraria Santa Ana</a></p>
                </div>
            </div>
        </div>
    </div>
</section> 

<style lang="scss">


.fine-section{
    background-color: var(--accent);
    .container{
        position: relative;
    }
}
.testimony{
    background-color: var(--accent);
    padding: 60px 20px 20px  20px;
    border-radius: 20px;
}
.customer-testimony{
    width: 70%;
    h4, p{
        color: #fff;
    }
}

.customer-pic{
    width: 30%;
}

.circular-image {
    width: 220px;
    height: 220px;
    display: inline-block;
    position: absolute;
    background-color: #e6e6e6;
    border-radius: 6px;
    transform: translateY(-15px) rotate(-6deg);
    display: flex;
    align-items: center;
    justify-content: center;

    img{
        width: 80%;
    }
 }



 @media (max-width:900px) {
    .flex{
        flex-direction: column;
        .circular-image{
            position: relative;
        }
        .customer-testimony{
            width: 100%;
        }
    }
    .fine-section{
        margin-top: 70px;
    }
 }



</style>