---
import Showcase from '../assets/iphone-mockup.png'
const features = ['Suba una imagen', 'Indique los datos del fallecido', 'Publique la esquela']
---


<section class="product-defined">
    <div class="container">
         <div class="row product-brief-items">
            <div class="brief-media center one-half">
                <img class="mockup-img" src={Showcase} height="400" alt="Showcase mockup">
            </div>
            <div class="brief-tab one-half">
                <h3 class="h1-title">¿Cómo funciona?</h3>
                <p class="m-paragraph m-margin">A través de un panel de administración podrás gestionar tus esquelas visibles, crear nuevas, despublicar esquelas...</p>
                <ol class="ro">
                    {features.map((el, index) => (
                        <li><span>{index + 1}</span> <span>{el}</span></li>
                    ))}
                </ol>
            </div>
           
        </div>
    </div>
</section>


<style lang="scss">



.product-defined{ 
    padding: 120px 20px; 
    .brief-media {
      width: 100%;
      overflow: hidden;
    }

    .product-brief-items{
        display: flex;
        align-items: center;
    }
    .brief-tab{
        padding-top: 40px;
    }
   
    ol{
        counter-reset: step;
        align-items: center;
        list-style: none;
        >li{
            position: relative;
            display: flex;
            gap: 10px;
            align-items: center;
            span:first-child{
                border: 2px solid #121117;
                height: 20px;
                width: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50px;
            }
          
           
        }
    }

    .mockup-img {
        object-fit: contain;
        height: 400px;
        transform: scale(1.5) translate(0, 80px);
    }

    @media (max-width: 700px) {
        .product-brief-items{
            flex-direction: column-reverse;
            gap: 30px;
            .brief-tab{
                padding-top: 0px;
            }
        }
        
    }
  }
</style>